package views

templ Hello(name string) {
	<!DOCTYPE html>
	<html lang="en">
		<meta charset="UTF-8"/>
		<title>Page Title</title>
		<meta name="viewport" content="width=device-width,initial-scale=1"/>
		<link rel="stylesheet" href=""/>
		<script src=""></script>
		<script src="https://unpkg.com/htmx.org"></script>
		<body>
		  {name} @button() <!-- calling components must have () -->
		</body>
	</html>
}
